@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before,
ul,
li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER PART  */
.site-header {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100vh;
}

.header {
  padding-top: 21px;
}

.header__logo {
  width: 55px;
  height: 55px;
}

.header__nav-list {
  list-style-type: none;
}

.header__nav-item {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header__nav-link {
  text-decoration: none;
  color: #fff;
}

.header__nav-item:hover .header__nav-link {
  color: #f3af34;
}

.header__select {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.header__select > option {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: start;
}

.header__global,
.header__menu {
  border-left: 1px solid rgba(255, 255, 255, 0.63);
  margin-left: 23px;
  padding-left: 24px;
}

.global__menu {
  background: none;
  border: none;
}

.header__menu {
  display: none;
}

.icon-menu {
  position: relative;
  top: 5px;
  font-size: 32px;
  color: #fff;
}

.global__link {
  margin-right: 17px;
}

.global__link:last-child {
  margin-right: 0;
}

.nav-menu {
  display: none;
}

/* HERO PART */
.hero {
  position: relative;
}

.hero__box {
  padding-top: 237px;
  color: #fff;
}

.hero__title {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.hero__desc {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.hero__btn {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1A1917;
  padding: 18px 18px;
}

.hero__btn:hover {
  -webkit-box-shadow: 0px -12px 9px -1px rgba(255, 181, 72, 0.4) inset;
          box-shadow: 0px -12px 9px -1px rgba(255, 181, 72, 0.4) inset;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.hero__span {
  border-left: 1px solid #1a1917b0;
  margin-left: 11px;
  padding-left: 14px;
}

.hero__link {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding-top: 250px;
}

.hero__link:hover {
  color: #f3af34;
}

.hero__link .icon-down {
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
  .header__nav {
    display: none;
  }
  .header__global {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .nav-menu {
    display: block;
    position: fixed;
    top: 100px;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 10px;
    padding: 20px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .open {
    right: 50px;
  }
  .header__nav-item {
    margin-bottom: 16px;
  }
  .header__global-mobile {
    display: block;
    border: none;
    margin: 0;
    padding-left: 40px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .site-header {
    background-image: url("../../img/header-bg-mobil-img.jpg");
  }
  .hero__title {
    font-size: 33px;
    line-height: 33px;
  }
  .hero__desc {
    font-size: 18px;
    line-height: 18px;
  }
  .hero__btn {
    font-size: 14px;
    line-height: 19px;
    padding: 13px 8px;
  }
}

/* HERO PART  */
/* MAIN PART  */
/* ABOUT PART */
.about {
  background-color: #000;
  background-image: url("../../img/about-bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100vh;
  padding-top: 164px;
  padding-bottom: 255px;
}

.about__box {
  color: #fff;
}

.about__query {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 9px;
}

.about__title {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.about__title::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
}

.about__desc {
  font-size: 18px;
  line-height: 22px;
}

.about__img {
  width: 500px;
  height: 605px;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .about {
    padding-bottom: 24px;
  }
  .about__boxs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .about__query {
    font-size: 18px;
    line-height: 18px;
  }
  .about__title {
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 26px;
  }
  .about__title::after {
    margin-top: 24px;
  }
  .about__desc {
    font-size: 14px;
    line-height: 16px;
  }
}

/* FOOTER PART */
.footer {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */