/* ABOUT PART */

.about {
  background-color: #000;
  background-image: url('../../img/about-bg-image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100vh;
  padding-top: 164px;
  padding-bottom: 255px;
}

.about__box {
  color: #fff;
}

.about__query {
  font-family: $font-bebas;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 9px;
}

.about__title {
  font-family: $font-bebas;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.about__title::after {
  content: '';
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
}


.about__desc {
  font-size: 18px;
  line-height: 22px;
  padding-left: 260px;
}

.about__img {
  width: 500px;
  height: 605px;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {

  .container {
    width: 90%;
  }

  .about {
    padding-bottom: 24px;
  }

  .about__boxs {
    flex-direction: column;
  }

  .about__desc {
    padding-left: 0px;
  }

}

@media screen and (max-width: 576px) {

  .container {
    width: 90%;
  }

  .about__query {
    font-size: 18px;
    line-height: 18px;
  }

  .about__title {
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 26px;

  }
  .about__title::after {
    margin-top: 24px;
  }

  .about__desc {
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }
}